# Node modules
node_modules/

# Environment variables
.env
.env.production
.env.local
.env.*

# Logs
logs
*.log
npm-debug.log*

# Dependencies
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 